@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.hero {
  margin-top: 120px;
  @include md-down {
    margin-top: 55px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include md-down {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__content {
    max-width: 550px;
  }

  &__title {
    font-size: 64px;
    font-weight: 300;
    line-height: 72px;
    letter-spacing: -1.28px;

    @include md-down {
      font-size: 32px;
      font-weight: 300;
      letter-spacing: -0.64px;
    }
  }

  &__text {
    margin-top: 32px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;

    @include md-down {
      margin-top: 52px;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }
  }

  &__wrapper-buttons {
    margin-top: 170px;
    display: flex;
    column-gap: 32px;
    align-items: center;
    @include md-down {
      margin-top: 20px;
      column-gap: 24px;
    }
  }

  &__line {
    height: 20px;
    width: 1px;
    background: #d1d2e7;
  }

  &__link-youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    color: $color-blue-gray-dark;
    font-family: $font-actor;
    font-size: 14px;
    font-weight: 400;
  }

  &__link-text {
    @include md-down {
      display: none;
    }
  }

  &__image-container {
    position: relative;
    @include md-down {
      margin-top: 36px;
    }
  }

  &__image {
    display: block;
    @include md-down {
      display: none;
    }
  }

  &__image-mobile {
    display: none;
    @include md-down {
      display: block;
    }
  }

  &__image-dots {
    position: absolute;
    left: -140px;
    bottom: -144px;
    z-index: -1;
  }
}
