@use "@styles/variables" as *;

.hero {
  margin-top: 120px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 550px;
  }

  &__title {
    font-size: 64px;
    font-weight: 300;
    line-height: 72px;
    letter-spacing: -1.28px;
  }

  &__text {
    margin-top: 32px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  }

  &__wrapper-buttons {
    margin-top: 170px;
    display: flex;
    column-gap: 70px;
    align-items: center;
  }

  &__link-youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    color: $color-blue-gray-dark;
    font-family: $font-actor;
    font-size: 14px;
    font-weight: 400;
  }

  &__image-container {
    position: relative;
  }

  &__image-dots {
    position: absolute;
    left: -140px;
    bottom: -144px;
    z-index: -1;
  }
}
