@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.pellentesque {
  background: linear-gradient(180deg, #fff 43.94%, #f7f8fe 100%);
  margin-top: 116px;
  padding-bottom: 74px;

  @include md-down {
    margin-top: 48px;
    padding-bottom: 32px;
  }

  &__vitae {
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d1d4fa;
    box-shadow: 0px 12px 30px 0px rgba(14, 68, 152, 0.15);
    padding: 90px 75px 100px 130px;

    @include md-down {
      flex-direction: column-reverse;
      row-gap: 44px;
    }
  }

  &__vitae-title {
    text-align: center;
    color: $color-blue-gray-dark;
    font-family: $font-hepta-slab;
    font-size: 40px;
    font-weight: 600;

    @include md-down {
      text-align: left;
      font-size: 20px;
    }
  }

  &__vitae-text {
    font-family: $font-adamina;
    font-size: 16px;
    margin-top: 15px;
    max-width: 420px;
    color: #7274a0;
    line-height: 24px;

    @include md-down {
      font-size: 12px;
      margin-top: 12px;
      line-height: 18px;
    }
  }

  &__list {
    margin-top: 32px;
    @include md-down {
      margin-top: 27px;
    }
  }

  &__list-item {
    display: flex;
    column-gap: 16px;
    margin-top: 18px;

    &:first-child {
      margin-top: 0;
    }
    @include md-down {
      margin-top: 14px;
      column-gap: 8px;
    }
  }

  &__item-text {
    font-family: $font-actor;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    @include md-down {
      font-size: 12px;
    }
  }

  &__wrapper-buttons {
    margin-top: 60px;
    display: flex;
    align-items: center;
    column-gap: 36px;
    @include md-down {
      margin-top: 18px;
      column-gap: 24px;
    }
  }

  &__line {
    height: 20px;
    width: 1px;
    background: #b9bbda;
  }

  &__link-youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    color: $color-blue-gray-dark;
    font-family: $font-actor;
    font-size: 14px;
    font-weight: 400;
  }

  &__youtube-text {
    @include md-down {
      display: none;
    }
  }

  &__yellow-block {
    border-radius: 50px;
    width: 100%;
    max-width: 636px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 40px;
    column-gap: 26px;

    @include md-down {
      margin-top: 12px;
      grid-template-columns: 1fr;
      row-gap: 12px;
    }
  }

  &__aliquam {
    border-radius: 40px;
    position: relative;
    border: 1px solid #d1d4fa;
    padding: 80px 28px 24px 65px;
    @include md-down {
      padding: 24px;
    }
  }

  &__aliquam-wrapper {
    border: 1px solid $color-blue-gray;
    padding: 10px;
    position: absolute;
    right: 28px;
    top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
  }

  &__aliquam-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $color-dusty-purple;
    @include md-down {
      font-size: 18px;
    }
  }
  &__aliquam-list {
    margin-top: 20px;
    @include md-down {
      margin-top: 18px;
    }
  }

  &__aliquam-item {
    display: flex;
    column-gap: 6px;
    align-items: center;
    font-size: 16px;
    font-family: $font-adamina;
    font-weight: 400;
    line-height: 150%;
    color: $color-blue-gray;
    @include md-down {
      line-height: 18px;
      font-size: 12px;
    }
  }
  &__aliquam-dot {
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background-color: $color-dusty-purple;
    @include md-down {
      width: 4px;
      height: 4px;
    }
  }

  &__nullam {
    border-radius: 30px;
    border: 4px solid #858df1;
    position: relative;

    padding: 52px 80px 40px 80px;
    @include md-down {
      padding: 24px;
    }
  }

  &__nullam-content {
    position: relative;
    z-index: 1;
  }

  &__nullam-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $color-white;
    @include md-down {
      font-size: 18px;
    }
  }
  &__nullam-list {
    margin-top: 12px;
  }

  &__nullam-item {
    display: flex;
    column-gap: 6px;
    align-items: center;
    font-size: 16px;
    font-family: $font-adamina;
    font-weight: 400;
    line-height: 150%;
    color: $color-white;
    @include md-down {
      font-size: 12px;
    }
  }
  &__nullam-dot {
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background-color: $color-white;
    @include md-down {
      width: 4px;
      height: 4px;
    }
  }
  &__nullam-button {
    text-align: center;
    font-family: $font-actor;
    font-size: 14px;
    border: 1px solid white;
    margin-top: 36px;
    color: $color-blue-velvet;
    padding: 12px 54px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 400;
    transition: $transition-base;

    &:hover {
      background: inherit;
      color: $color-white;
    }
    @include md-down {
      margin-top: 24px;
      font-size: 12px;
      padding: 12px 30px;
    }
  }

  &__nullam-image {
    position: absolute;
    right: 0px;
    border-radius: 25px;
    left: 0px;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
