@use "@styles/variables" as *;
@use "@styles/mixins" as *;
.header {
  padding: 20px 0;
  border-bottom: 1px solid #e0e2fc;
  position: relative;

  &__container {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  &__block {
    display: block;
    @include md-down {
      display: none;
    }
  }
  &__logo {
    max-height: 48px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    @include md-down {
      flex-direction: column;
      align-items: start;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include md-down {
      display: block;
    }
  }

  &__item-link {
    color: $color-dark-blue;
    font-size: 16px;
    font-weight: 400;
    line-height: 168.75%;
    letter-spacing: 0.8px;
  }
  &__wrapper-social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 22px;
    margin-top: 44px;
    column-gap: 4px;
    border-top: 1px solid #e2e3ee;
  }
  &__list-social {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    @include md-down {
      column-gap: 4px;
    }
  }

  &__item-social {
    @include md-down {
      &:last-child {
        display: none;
      }
    }
  }

  &__link-social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid #d1d2e7;
    padding: 10px;
  }

  &__image-social {
    width: 24px;
    height: 24px;
  }

  &__button {
    border: 1px solid $color-violet;
    padding: 10px 25px;
    color: $color-violet;
    font-size: 16px;
    font-family: $font-actor;
    font-weight: 400;
    background: inherit;
    cursor: pointer;
    border-radius: 12px;
    line-height: 200%;
    letter-spacing: -0.32px;
    @include md-down {
      font-size: 14px;
      padding: 10px 22px;
    }
  }

  &__button-menu {
    display: none;

    @include md-down {
      display: block;
      background: inherit;
      border: none;
      cursor: pointer;
    }
  }

  &__menu {
    display: none;
    @include md-down {
      display: block;
      position: absolute;
      top: 90px;
      background-color: white;
      left: 0;
      padding: 44px 32px 26px 32px;
      width: 100%;
      animation: 0.2s linear menu;

      @keyframes menu {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}
