@use "variables" as *;
@use "normalize.css/normalize.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-hepta-slab;

  font-optical-sizing: auto;
  color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
